<!DOCTYPE html>
<html lang="en">
  <header>
    <meta charset="ut8" />
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" href="css/styles.css" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu|New+Rocker|Shadows+Into+Light|Special+Elite" type="text/css" />
  </header>
  <body>
    <%= yield %>
  </body>
</html>
