<h2>Please enter your name</h2>

	<form action="/register" method="POST">
		Name:<input type="text", name="name"></input>
		<button>Play Game?</button> or
	</form>

	<form action="/add_another_player" method="POST">
		<button>Add Player?</button>
	</form>
