<h3>RESULTS</h3>

<h4><%= GAME.message.first%></h4>

<form action="/play_again" method="POST">
	<button>Play again?</button>
	<input type="hidden" name="name" value="<%= GAME.players.first.name%>"></input>
</form>
<form action="/new-game" method="GET">
	<button>Play new game?</button>
</form>
